.sidebar {
    width: 220px;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial;
}

.Items {

    margin: 5px 0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.highlight {
    background-color: lightblue;
    font-weight: bold;
}